<h2>Customer Form Demo</h2>

<form [formGroup]="customerForm" (ngSubmit)="save()">
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" placeholder="First Name" name="firstName"
            formControlName="firstName">
    </div>
    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" placeholder="Last Name" name="lastName"
            formControlName="lastName">
        <div class="alert alert-danger" [hidden]="!customerForm.controls.lastName.errors">
            Last name is required and it has to be at least 2 characters long
        </div>
    </div>
    <div>
        <label for="revenue">Yearly Revenue:</label>
        <input type="number" id="revenue" placeholder="Avg. yearly revenue" 
            name="revenue" formControlName="revenue">
        <div class="alert alert-danger" [hidden]="!customerForm.controls.revenue.errors">
            Revenue has to be > 100
        </div>
    </div>
    <div>
        <label>
            <input type="checkbox" name="isActive" formControlName="isActive"> Is active?
        </label>
    </div>
    <div>
        <label for="customerType">Type:</label>
        <select name="customerType" formControlName="customerType">
            <option *ngFor="let t of customerTypes" [value]="t">{{t}}</option>
        </select>
    </div>
    <button type="submit" [disabled]="customerForm.invalid">Save</button>
</form>